<launch>
  <include file="$(find darc_custom_quad)/launch/custom_quad.launch"/>-->

  <node pkg="odroid_sonar" type="odroid_sonar_node" name="Sonar_Inputs" respawn="true"/>-->
  <include file="$(find rplidar_ros)/launch/rplidar.launch"/>

	<rosparam file="$(find darc_saca)/config/saca.yaml" command="load"/>-->
	<node pkg="darc_saca" type="darc_saca_3d_node" name="SACA_3D" respawn="true" output="screen"/>-->

</launch>
