<launch>
  <rosparam file="$(find darc_rc_fly)/config/trim.yaml" command="load"/>
  <include file="$(find darc_custom_quad)/launch/custom_quad.launch"/>
    
  <node pkg="odroid_lidar" type="odroid_lidar_node" name="LidarInput"/>
    
  <include file="$(find rplidar_ros)/launch/rplidar.launch"/>

	<rosparam file="$(find darc_saca)/config/saca.yaml" command="load"/>-->
	<node pkg="darc_saca" type="darc_saca_3d_node" name="SACA_3D" output="screen" respawn="true"/>

  <!--<node pkg="rqt_plot" type="rqt_plot" name="Plot" args="/desired_u/angular/x /new_u/angular/x /desired_u/angular/y /new_u/angular/y"
    machine="daman_lab"/>-->
</launch>
