<launch>
  <rosparam file="$(find darc_rc_fly)/config/trim.yaml" command="load"/>
  <include file="$(find darc_custom_quad)/launch/custom_quad.launch"/>
    
  <node pkg="odroid_lidar" type="odroid_lidar_node" name="LidarInput"/>
    
  <include file="$(find rplidar_ros)/launch/rplidar.launch"/>

	<rosparam file="$(find darc_saca)/config/saca.yaml" command="load"/>-->
	<node pkg="darc_saca" type="darc_saca_3d_node" name="SACA_3D" output="screen" respawn="true"/>

  <node pkg="rosbag" type="record" name="record" args="-o $(find darc_saca)/bags/high_bay --split --size=256 -j /est_pos /est_vel /desired_u /new_u /mavros/local_position/velocity /mavros/imu/data /raw_points /seg_points /mink_points /init_traj /fin_traj"/>
</launch>
